<div class="form-content">
  <div class="p-d-flex p-jc-center p-mt-3">
    <div class="p-col-12 p-md-6 p-lg-4">
      <div class="main-header text-center">Add Item</div>
      <div class="forms">
        <div class="p-field">
          <label for="itemname">Item Name</label>
          <input pInputText id="itemname" />
        </div>

        <div class="p-field">
          <label for="itemtype">Item Type</label>
          <p-dropdown
            [options]="itemTypes"
            optionLabel="name"
            placeholder="Select Item Type"
          />
        </div>
        <div class="p-field">
          <label for="active">Is Active</label>
          <p-checkbox id="active" [binary]="true" inputId="binary" />
        </div>
        <div class="p-field text-align-end">
            <p-button icon="pi pi-plus" [rounded]="true" label="Save" class="mr-2" ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
